.collection_card{
    height: 130px;
    width: 130px;
    border-radius: 100%;
    border: 1px solid rgba(0,0,0,0.5) !important; 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.collection_image {
    width: 70%;
    height: 70%;
}
.collection_card:hover .collection_image {
    transform: scale(1.08);
    transition: all linear 0.7s;
}

