.collection_card{
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
}
.image_wrapper {
    position: relative;
    height: 100%;
}

.collection_image {
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    color: white;
    background: rgba(0, 0, 0, 0.4); /* Dull brightness effect */
    width: 100%;
    height: 100%;
border-radius: 20px;
}

.collection_title {
     margin-left: -4px;
     margin-top: 2px;
     width: fit-content;
     background-color: black;
     color: white;
     padding: 10px 15px;
     border-radius: 27px;
     font-size: 1.0em;
}

@media screen and (max-width:768px) {
    .collection_card{
        height: 250px;
    }
}