@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  font-family: "Roboto", sans-serif !important;
  font-style: normal !important;
}
body{
  padding: 0px; margin: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
}
a{
  text-decoration: none !important;
}
.cursor{
  cursor: pointer;
}
.error{
    font-family: 'Montserrat', sans-serif;
    color: red;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.1rem;
    margin-top: 0.5rem;
    padding: 5px 10px;
    background-color: rgb(255, 0, 0, 0.2);
  }